<div class="cont">
<h3>Books World</h3>
</div>
<div class="b-head">
     <table class="b-table" 
        *ngIf = 'books && books.length' >
    <thead>
        <tr>
            <th>ID</th>
            <th>Book</th>
            <th>Code</th>
            <th>RealeseDate</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
     <tbody>
        <tr *ngFor='let book of books'>
            
            <!-- <td>{{ books.bookId }}</td>
            <td>{{ books.bookName }}</td> -->
            <!-- <td>{{ books.bookCode }}</td> -->
            <!-- <td>{{ books.releaseDate }}</td> -->
            <!-- <td>{{ books.description }}</td> -->
            <!-- <td>{{ books.price }}</td> -->
            <td> 
                 <button class="btn btn-warning" style="cursor:pointer"  style="margin-left: 20px;"> UPDATE</button>
                 <button class="btn btn-danger" style="cursor:pointer" > DELETE</button>
             </td>
        </tr>
     </tbody>
 </table> 
    
</div> 